body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', serif;
  font-weight: bold;
  color: white;
}

.cousine {
  font-family: 'Cousine', monospace;
}

code, pre {
  font-family: 'Cousine', monospace;
}

.right {
  float: right;
}

header {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

figure {
  margin: 0;
}

p, li, span, i {
  color: #CCC;
}

li {
  padding-bottom: 10px;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem
}

a {
  color: #6ab9ff;
  text-decoration: none;
}
a:hover {
  color: #6ab9ff;
  text-decoration: underline;
}
a:visisted {
  color: #6ab9ff;
}

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding: 20px;
  font-size: 16px;
}

img {
  max-width: 640px;
}

#main h3 {
  padding-bottom: 20px;
  font-weight: 700;
}

#main h4 {
  padding-top: 20px;
  font-weight: 700;
}

footer {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  padding-top: 50px;
}

.hbar {
  max-width: 640px;
  width: 100%;
}

#logo {
  text-decoration: none;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

pre {
  background-color: #222;
  padding: 10px;
  overflow: auto;
}

.grey {
  color: grey;
}

.purple {
  color: #ccccff;
}

.italic {
  font-style: italic;
}

.after {
  display: inline-block;
  padding-bottom: 20px;
}